// TODO:
// Убрать теги, должны быть только классы,
// теги использовать в крайних случаях
.button-yui-kit {
  color: $WHITE;
  outline: none;
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
  gap: 5px;

  &:hover:not(:disabled) {
    cursor: pointer;
  }
}

.small-yui-kit {
  padding: 13px 11px;
  font-size: 14px;
  line-height: 16px;
  min-height: 40px;
}

.medium-yui-kit {
  min-height: 50px;
  padding: 16px 13px;
}

.large-yui-kit {
  min-height: 70px;
  padding: 5px 13px;
  font-size: 18px;
  line-height: 22px;
}

.primary-yui-kit {
  background-color: $BLUE-77A6FF;

  &:active {
    background-color: $BLUE-548CF6;
  }
  &.disabled:disabled {
    color: $GREY-757D8A;
    background-color: $WHITE-F5F5F5;
  }
}

.secondary-yui-kit {
  background-color: $WHITE-F8F9FD;
  color: $BLUE-77A6FF;

  &:active {
    background-color: $WHITE-ECF3FF;
  }
  &.disabled-yui-kit:disabled {
    color: $GREY-757D8A;
    background-color: $WHITE-F5F5F5;
  }
}

.outline-yui-kit {
  background-color: $TRANSPARENT;
  border: 1px solid $BLUE-9CBEFF;
  color: $GREY-282828;

  &:active {
    color: $WHITE;
    background-color: $BLUE-548CF6;
  }

  &.disabled-yui-kit:disabled {
    color: $GREY-757D8A;
    background-color: $WHITE-F5F5F5;
    border: 1px solid $WHITE-E7E7E7;
  }
}

.ghost-yui-kit {
  background-color: $TRANSPARENT;
  color: $GREY-282828;

  &:hover {
    background-color: $WHITE-F8F9FD;
  }

  &:active {
    color: $BLUE-77A6FF;
    background-color: $WHITE-ECF3FF;
  }
  &.disabled-yui-kit:disabled {
    background-color: $WHITE-E6E6E6;
  }
}

.pill-yui-kit {
  border-radius: 10px;
}
