:root {
  --tooltip-background-color: var(--black2);
  --tooltip-color: var(--white);
  --tooltip-transition: opacity 0.3s ease;
  --tooltip-padding: 8px 16px;
  --tooltip-font-size: 14px;
  --tooltip-height: 0;
  --tooltip-width: 0;
  --tooltip-top: 0;
  --tooltip-left: 0;
  --tooltip-hint-width: 0;
}
