$white: #ffffff;
$black: #000000;
$transparent: transparent;

$white-F5F5F5: #F5F5F5;
$white-F8F9FD: #F8F9FD;
$white-ECF3FF: #ECF3FF;
$white-E6E6E6: #E6E6E6;
$white-E7E7E7: #E7E7E7;
$white-E0E0E0: #E0E0E0;


$blue-5CBAFF: #5CBAFF;
$blue-77A6FF: #77A6FF;
$blue-548CF6: #548CF6;
$blue-9CBEFF: #9CBEFF;
$blue-D6E4FF: #D6E4FF;
$blue-E0F2FF: #E0F2FF;
$blue-F2F7FF: #F2F7FF;
$blue-E7EDF8: #E7EDF8;

$grey-9A9B9D: #9A9B9D;
$grey-757D8A: #757D8A;
$grey-E2E2E2: #E2E2E2;
$grey-A6A3AD: #A6A3AD;
$grey-282828: #282828;

$green-0FBE3F: #0FBE3F;
$green-D8F2DA: #D8F2DA;

$orange-E8A702: #E8A702;
$orange-FAEED5: #FAEED5;

$red-FF6868: #FF6868;
$red-FFE2E1: #FFE2E1;

$pink-FEDAE9: #FEDAE9;
$pink-FE3A8B: #FE3A8B;