:root {
    --white: #ffff;
    --blue1: #77A6FF;
    --blue2: #DCDFED;
    --blue3: #6695FF;
    --blue4: #407BFF;
    --blue5: #C6D7FF;
    --blue6: #678DD5;
    --blue7: #A5C4FF;
    --blue8: #A9BCE1;
    --blue9: #F2F7FF;
    --blue10: #ECF3FF;
    --blue11: #EAF2FF;
    --blue12: #D6E4FF;
    --blue13: #E0F2FF;
    --blue14: #5CBAFF;
    --blue15: #F8F9FD;
    --blue16: #6C78F4;
    --blue17: #72CCFF;
    --blue18: #F9FBFF;
    --grey1: #F5F5F5;
    --grey2: #E6E6E6;
    --grey3: #E2E2E2;
    --grey4: #A6A3AD;
    --grey5: #677074;
    --grey6: #757D8A;
    --grey7: #D5D5D6;
    --black: #000000;
    --black2: #262A38;
    --orange: #FFB573;
    --orange2: #ED893E;
    --orange3: #CC915C;
    --orange4: #FFB833;
    --orange5: #FFD683;
    --orange6: #F79400;
    --orange7: #FAEED5;
    --orange8: #E8A702;
    --orange9: #FFE352;
    --orange10: #FFF6E4;
    --red: #A02724;
    --red2: #EF9B8F;
    --red3: #FFE2E1;
    --red4: #FF6868;
    --red5: #FF5150;
    --red6: #F42C2B;
    --pink1: #FEDAE9;
    --pink2: #FE3A8B;
    --pink3: #FF6AA9;
    --pink4: #E650FF;
    --violet: #B250FF;
    --violet2: #793AFF;
    --green1: #D8F2DA;
    --green2: #0FBE3F;
    --green3: #94CE49;
    --green4: #3BC648;
    --green5: #45DDCB;
    --gradient1: radial-gradient(1523.87% 1151.74% at 3.33% 69.79%, #77A6FF 0%, #0ACED2 65.71%, #1AE4B6 100%);
    --gradient2: linear-gradient(36.76deg, #6096FB 12.3%, #04DDE0 60.7%, #00FFC5 82.44%);
    --text-black: #A02724;
    --text-white: var(--white);
    --text-blue: var(--blue1);
    --text-grey: var(--grey6);
    --border-blue: #9CBEFF;
    --border-grey: #E7E7E7;
    --scrollbar-width: 6px;
    --scrollbar-bg-color: var(--grey1);
  --scrollbar-thumb-color-base: var(--blue1);
  --scrollbar-thumb-color-hovered: var(--blue1);
  --scrollbar-border-width-base: 0;
  --scrollbar-border-width-hovered: 0;
  --scrollbar-border-radius: 5px;
}

