$PRIMARY-FONT: 'Inter Variable',
sans-serif;

$WHITE: #ffffff;
$BLACK: #000000;
$TRANSPARENT: transparent;

$WHITE-F5F5F5: #F5F5F5;
$WHITE-F8F9FD: #F8F9FD;
$WHITE-ECF3FF: #ECF3FF;
$WHITE-E6E6E6: #E6E6E6;
$WHITE-E7E7E7: #E7E7E7;
$WHITE-E0E0E0: #E0E0E0;
$WHITE-F0F0F0: #F0F0F0;

$BLUE-5CBAFF: #5CBAFF;
$BLUE-77A6FF: #77A6FF;
$BLUE-70A6FF: #70A6FF;
$BLUE-548CF6: #548CF6;
$BLUE-EAF2FF: #EAF2FF;
$BLUE-9CBEFF: #9CBEFF;
$BLUE-D6E4FF: #D6E4FF;
$BLUE-E0F2FF: #E0F2FF;
$BLUE-F2F7FF: #F2F7FF;
$BLUE-F8F9FD: #F8F9FD;
$BLUE-E7EDF8: #E7EDF8;
$BLUE-E6EFFF: #E6EFFF;
$BLUE-4480F345: #4480f345;
$BLUE-4480F3: #4480F3;
$BLUE-407BFF: #407BFF;

$GREY-9A9B9D: #9A9B9D;
$GREY-757D8A: #757D8A;
$GREY-E2E2E2: #E2E2E2;
$GREY-A6A3AD: #A6A3AD;
$GREY-282828: #282828;
$GREY-262626: #262626;
$GREY-121212: #121212;
$GREY-B8B8B8: #B8B8B8;
$GREY-515151: #515151;
$GREY-DCDFED: #DCDFED;
$GREY-677074: #677074;

$GREEN-0FBE3F: #0FBE3F;
$GREEN-D8F2DA: #D8F2DA;

$ORANGE-E8A702: #E8A702;
$ORANGE-FAEED5: #FAEED5;

$RED-FF6868: #FF6868;
$RED-FFE2E1: #FFE2E1;

$PINK-FEDAE9: #FEDAE9;
$PINK-FE3A8B: #FE3A8B;
