:root {
  --white: #ffff;
  --blue1: #77a6ff;
  --blue2: #dcdfed;
  --blue3: #6695ff;
  --blue4: #407bff;
  --blue5: #c6d7ff;
  --blue6: #678dd5;
  --blue7: #a5c4ff;
  --blue8: #a9bce1;
  --blue9: #f2f7ff;
  --blue10: #ecf3ff;
  --blue11: #eaf2ff;
  --blue12: #d6e4ff;
  --blue13: #e0f2ff;
  --blue14: #5cbaff;
  --blue15: #f8f9fd;
  --blue16: #6c78f4;
  --blue17: #72ccff;
  --blue18: #f9fbff;
  --blue19: #70a6ff;
  --blue20: #2563ed;
  --blue21: #d1e3ff;
  --blue22: #63ace0;
  --blue23: #c8f8ff;
  --blue24: #3ad8ff;
  --grey0: #e0e0e0;
  --grey1: #f5f5f5;
  --grey2: #e6e6e6;
  --grey3: #e2e2e2;
  --grey4: #a6a3ad;
  --grey5: #677074;
  --grey6: #757d8a;
  --grey7: #d5d5d6;
  --grey8: #262626;
  --grey9: #121212;
  --grey10: #515151;
  --grey11: #f0f0f0;
  --grey12: #e0e0e0;
  --grey13: #e7e7e7;
  --grey14: #282828;
  --black: #000000;
  --black2: #262a38;
  --black3: #181818;
  --orange: #ffb573;
  --orange2: #ed893e;
  --orange3: #cc915c;
  --orange4: #ffb833;
  --orange5: #ffd683;
  --orange6: #f79400;
  --orange7: #faeed5;
  --orange8: #e8a702;
  --orange9: #ffe352;
  --orange10: #fff6e4;
  --orange11: #fffcc8;
  --orange12: #ffcc00;
  --red: #a02724;
  --red2: #ef9b8f;
  --red3: #ffe2e1;
  --red4: #ff6868;
  --red5: #ff5150;
  --red6: #f42c2b;
  --red7: #ffefee;
  --red8: #ffd3ca;
  --pink1: #fedae9;
  --pink2: #fe3a8b;
  --pink3: #ff6aa9;
  --pink4: #e650ff;
  --violet: #b250ff;
  --violet2: #793aff;
  --violet3: #d8c8ff;
  --green1: #d8f2da;
  --green2: #0fbe3f;
  --green3: #94ce49;
  --green4: #3bc648;
  --green5: #45ddcb;
  --gradient1: radial-gradient(1523.87% 1151.74% at 3.33% 69.79%, #77a6ff 0%, #0aced2 65.71%, #1ae4b6 100%);
  --gradient2: linear-gradient(36.76deg, #6096fb 12.3%, #04dde0 60.7%, #00ffc5 82.44%);
  --gradient4: linear-gradient(213.61deg, #a1c2ff 3.13%, #75a3fb 46.43%, #4781ee 92.74%);
  --text-black: #11111;
  --text-white: var(--white);
  --text-blue: var(--blue1);
  --text-grey: var(--grey6);
  --text-green: var(--green2);
  --text-red: var(--red6);
  --black: #000;
  --border-blue: #9cbeff;
  --border-grey: #e7e7e7;
  --scrollbar-width: 6px;
  --scrollbar-bg-color: transparent;
  --scrollbar-thumb-color-base: var(--blue1);
  --scrollbar-thumb-color-hovered: var(--blue1);
  --scrollbar-border-width-base: 0;
  --scrollbar-border-width-hovered: 0;
  --scrollbar-border-radius: 5px;
  --max-w-md: 28rem;
}
