table {
  width: inherit;
  position: relative;
  border-radius: 15px;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 15px;
  overflow: hidden;

  tr {
    border-radius: 15px;

    &:nth-of-type(odd) {
      background-color: $white-F8F9FD;
    }

    &:not(:last-of-type) {
      border-bottom: 1px solid $white-E0E0E0;
    }
  }

  th {
    border: 1px solid $white-E0E0E0;
    padding: 12px 8px;
    background-color: $blue-F2F7FF;
  }

  td {
    padding: 12px 8px;
    border: 1px solid $white-E0E0E0;

    img {
      object-fit: contain;
      max-width: 100%;
      height: auto;
    }

    div {
      margin: 0 auto;
    }
  }
}