div.table-yui-kit__border {
  border: 0.5px solid var(--grey13);
  border-radius: 15px;
  overflow: clip;
}

table.table-yui-kit {
  width: inherit;
  position: relative;
  border-radius: 15px;
  font-size: 14px;
  outline: none;
  border-spacing: 0;
  border-collapse: separate;
  text-align: center;

  & thead.table-yui-kit__thead {
    --top: 0px;
    position: sticky;
    top: var(--top);
    background: white;
  }
  & .table-yui-kit__empty {
    height: 100%;
  }
  & th.table-yui-kit__th {
    &:last-child {
      border-radius: 0 10px 0 0;
    }
    &:first-child {
      border-radius: 10px 0 0 0;
    }
  }

  & th.table-yui-kit__th,
  & td.table-yui-kit__td {
    border: none;
  }
  & th.table-yui-kit__th {
    padding: 12px 8px;
    border-bottom: 0.5px solid var(--grey3);
    &.colored {
      background-color: var(--blue9);
    }
  }

  & th.table-yui-kit__th {
    border-right: 0.5px solid var(--grey3);
  }

  & tr.table-yui-kit__tr:not(:last-child) {
    & td.table-yui-kit__td {
      border-bottom: 0.5px solid var(--grey3);
    }
  }

  & tr.table-yui-kit__tr {
    --cursor: pointer;
    background-color: var(--background);
    cursor: var(--cursor);
    &.passive {
      --background: #f8f8f9;
    }
    &:hover,
    &.active {
      --background: var(--blue21);
      color: inherit;
    }
    &.ava {
      --background: var(--orange10);
      &:hover,
      &.active {
        --background: #ffebc1;
      }
    }
    &.ban {
      --background: #ffefee;
      &:hover,
      &.active {
        --background: #ffd3ca;
      }
    }
  }

  & td.table-yui-kit__td {
    border-right: 0.5px solid var(--grey3);
  }

  & td.table-yui-kit__td {
    padding: 11.5px 8px;
    text-overflow: ellipsis;
    overflow: hidden;

    img.link_img {
      width: 20px;
      cursor: pointer;
      border-radius: 4px;
      padding-bottom: 20px;
      outline: none;
      cursor: pointer;
      padding: 5px;
      box-shadow:
        0 2px #b2b1b1,
        0 3px #a5a5a5,
        0 4px 4px rgba(0, 0, 0, 0.4);
    }

    div {
      margin: 0 auto;
    }
  }

  .dropdown-yui-kit {
    position: relative;

    &__current {
      background-color: $BLUE-F2F7FF;
      margin-bottom: 0;

      &.active-yui-kit {
        border: none;
      }
    }
  }

  &__list {
    position: absolute;
    top: 58px;
    left: 0;
    border: none;

    font-weight: 400;
    text-align: left;
    min-width: 200px;

    border-radius: 0 0 5px 5px;
  }
}

table.table-yui-kit tr.table-yui-kit__tr {
  & th.table-yui-kit__th:last-child,
  & td.table-yui-kit__td:last-child {
    border-right: 0;
  }
}

table.table-yui-kit tbody.table-yui-kit__tbody:has(tr.table-yui-kit__tr:last-child) td.table-yui-kit__td {
  border-bottom: 0.5px solid var(--grey0);
}
