fieldset.input-yui-kit.success {
  @include fieldset-border($GREEN-0FBE3F);
}

fieldset.input-yui-kit.error {
  @include fieldset-border(var(--error-dark-color));
}

fieldset.input-yui-kit.warning {
  @include fieldset-border(var(--orange6));
}
