.counter--search,
.selected--search,
.filter--search {
  .base span.badges-text {
    color: $blue-407BFF;
    background-color: $blue-D6E4FF;
  }
}

.counter--search {
  .filter__select-list {
    flex-wrap: wrap;
  }
}

.filter__select-list.selected.selected--search {
  display: flex;
  flex-wrap: wrap;
}