.counter-yui-kit--search,
.selected-yui-kit--search,
.filter-yui-kit--search {
  .base-yui-kit span.badges-text {
    color: $BLUE-407BFF;
    background-color: $BLUE-D6E4FF;
    width: max-content;
  }
}

.counter-yui-kit--search {
  .filter-yui-kit__select-list {
    flex-wrap: wrap;
  }
}

.filter-yui-kit__select-list.selected-yui-kit.selected-yui-kit--search {
  display: flex;
  flex-wrap: wrap;
}
