$light-blue-text: #5CBAFF;
$light-blue-bg: #E0F2FF;
$light-blue-bg-9: #F2F7FF;
$light-grey-text: #757D8A;
$light-grey-bg: #E2E2E2;
$light-green-text: #0FBE3F;
$light-green-bg: #D8F2DA;
$light-orange-text: #E8A702;
$light-orange-bg: #FAEED5;
$light-red-text: #FF6868;
$light-red-bg: #FFE2E1;