@import './../../assets/scss/global';

.search {
  position: relative;
  width: 470px;

  &:not(:hover) .history {
    display: none;
  }

  &:hover .history {
    display: grid;
  }

  &__input {
    width: inherit;
    color: $grey-9A9B9D;
    padding: 12px 11px 12px 35px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover,
    &:focus,
    &:focus-visible,
    &:active {
      border: 1px solid $blue-9CBEFF;
      outline: none;
    }

    &:focus,
    &:focus-visible,
    &:active {
      color: $blue-9CBEFF;
    }

    &:focus+svg,
    &:focus-visible+svg,
    &:active+svg {
      color: $blue-9CBEFF;
    }
  }

  &__icon-wrapper {
    color: $grey-9A9B9D;
    position: relative;
    min-height: 49px;
    display: flex;
    align-items: center;
    width: inherit;

    svg {
      padding: 10px;
      position: absolute;
    }
  }

  &__history {
    display: grid;
    gap: 5px;
    list-style: none;
    width: inherit;
  }
}

.history {
  color: $grey-282828;
  // border: 1px solid transparent;
  outline: none;
  background-color: $white;
  border-radius: 5px;

  &__button-text {
    position: absolute;
    z-index: 100000;
    margin: 0;
    min-height: 56px;
    display: flex;
    align-items: center;
    padding: 8px 110px;
    color: $grey-282828;
    border: 1px solid transparent;
    outline: none;
    background-color: $white;
    border-radius: 5px;
    width: inherit;

    &:hover {
      cursor: pointer;
    }

    &--closed {
      display: none;
    }
  }

  &__list {
    display: grid;
    width: inherit;
    gap: 5px;
    list-style-type: none;
    height: 0;
    opacity: 0;
    transition: 0.3s ease-in-out;
    padding: 0;
    margin: 0;
    background-color: $white;


    &--opened {
      height: 100%;
      opacity: 1;
      transition: 0.3s ease-in-out;
      position: absolute;
    }

  }

  &__item {
    background: $white;
    overflow: hidden;
    border-bottom: 1px solid $white-E7E7E7;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    position: relative;
    height: 40px;

    span {
      display: flex;
      height: 100%;
      flex-grow: 1;
      padding: 5px 50px 5px 5px;
    }

    button {
      display: none;
      width: 16px;
      height: 16px;
      padding-right: 10px;
      position: absolute;
      right: 10px;

      svg {
        width: inherit;
        height: inherit;
      }
    }

    &:hover {
      cursor: pointer;
      background: linear-gradient($blue-F2F7FF 90%, $transparent 10%);

      button {
        background: none;
        border: 1px solid $transparent;
        outline: none;
        color: $grey-757D8A;
        display: block;

        &:hover {
          cursor: pointer;
        }
      }
    }

  }
}