.search-yui-kit {
  &__dropdown {
    position: relative;
  }

  .dropdown-yui-kit {
    &__current {
      margin-bottom: 0;
    }

    &__list {
      position: absolute;
      z-index: 2;
    }
  }
}

.select-list-yui-kit {
  &__item {
    &:hover {
      background-color: var(--blue9);
    }

    &:active {
      background-color: var(--blue10);
    }

    &.active {
      background-color: var(--blue9);
    }
  }

  &.minor {
    & .select-list-yui-kit__list,
    & .select-list-yui-kit__current {
      background-color: var(--blue15);
    }

    & .select-list-yui-kit__current {
      border: 1px solid transparent;
    }

    & .active-yui-kit {
      border: 1px solid var(--border-blue);
    }

    & .select-list-yui-kit__item {
      &:hover {
        background-color: var(--blue10);
      }
      &.active {
        background-color: var(--blue10);
      }
      &:active {
        background-color: var(--blue12);
      }
    }
  }
}

.search-dropdown-yui-kit {
  background-color: $WHITE;

  input {
    &:focus {
      border-left: none;
      border-radius: 0 5px 5px 0px;
    }
  }

  .dropdown-yui-kit__current {
    width: fit-content;
  }
}
