.search-yui-kit {
  &__dropdown {
    position: relative;
  }

  .dropdown-yui-kit {
    &__current {
      margin-bottom: 0;
    }

    &__list {
      position: absolute;
      z-index: 2;
    }
  }
}

.search-dropdown-yui-kit {
  background-color: $WHITE;

  input {
    &:focus {
      border-left: none;
      border-radius: 0 5px 5px 0px;
    }
  }

  .dropdown-yui-kit__current {
    width: fit-content;
  }
}
